body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2e94b9;
    font-family: 'Tahoma, sans-serif';
}

.container{
    background-color: #acdcee;
    padding: 28px;
    border-radius: 35px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    width: 80%;
    margin: 10px;
    max-width: 550px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.heading{
    font-size: 28px;
}

.input{
    height: 53px;
    width: 300px;
    background-color: rgb(255,255,255);
    border-color: rgba(255,255,255,.4);
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
}

.meaning-container{
    display: none;
}